<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{admin/header.html::myhead}">
    </div>
    <div class="text-right"><a class="btn btn-warning" href="goodAdd">添加商品</a></div>
    <br>
    <ul role="tablist" class="nav nav-tabs">
        <li class="active" role="presentation"><a href="goodList">全部商品</a></li>
        <li role="presentation"><a href="goodList?type=1">今日推荐</a></li>
    </ul>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th width="3%">ID</th>
            <th width="5%">图片</th>
            <th width="10%">名称</th>
            <th width="10%">介绍</th>
            <th width="5%">规格</th>
            <th width="3%">价格</th>
            <th width="5%">类目</th>
            <th width="3%">库存</th>
            <th width="3%">销量</th>
            <th width="5%">操作</th>
        </tr>
        <tr th:each="goods:${Rows}">
            <td>
                <p th:text="${goods.id}">1</p>
            </td>
            <td>
                <p><a th:href="'../index/detail?id='+${goods.id}" target="_blank"><img th:src="${goods.cover}"
                                                                                       width="100px"></a></p>
            </td>
            <td><p><a th:href="'../index/detail?id='+${goods.id}" target="_blank" th:text="${goods.name}"></a>
            </p>
            </td>
            <td><p th:text="${goods.intro}"></p></td>
            <td><p th:text="${goods.spec}"></p></td>
            <td><p th:text="${goods.price}"></p></td>
            <td><p th:text="${goods.types.name}"></p></td>
            <td><p th:text="${goods.stock}"></p></td>
            <td><p th:text="${goods.sales}"></p></td>
            <td>
                <p>
                    <a class="btn btn-success topDelete" href="javascript:;" type="1" goodId="1" text="加入今日推荐">移出今日推荐</a>
                </p>
                <a class="btn btn-info" href="goodEdit?id=1">修改</a>
                <a class="btn btn-danger" href="goodDelete?id=1">删除</a>
            </td>
        </tr>
    </table>

    <br>
    <div style='text-align:center;'>
        <a class='btn btn-info' disabled>首页</a>
        <a class='btn btn-info' disabled>上一页</a>
        <h2 style='display:inline;'>[1/8]</h2>
        <h2 style='display:inline;'>[40]</h2>
        <a class='btn btn-info' href='goodList?page=2'>下一页</a>
        <a class='btn btn-info' href='goodList?page=8'>尾页</a>
        <input type='text' class='form-control' style='display:inline;width:60px;' value=''/>
        <a class='btn btn-info' href='javascript:void(0);'
           onclick='location.href="goodList?page="+(this.previousSibling.value)+""'>GO</a>
    </div>
    <br>
</div>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).on("click", ".topSave", function () {
            var type = $(this).attr("type");
            var goodId = $(this).attr("goodId");
            var text = $(this).attr("text");
            var old = $(this).text();
            var obj = this;
            $.post("topSave", {"goodId": goodId, "type": type}, function (data) {
                if (data == "ok") {
                    $(obj).text(text).attr("class", "btn btn-success topDelete").attr("text", old);
                } else {
                    alert("操作失败!");
                }
            }, "text");
        });
        $(document).on("click", ".topDelete", function () {
            var type = $(this).attr("type");
            var goodId = $(this).attr("goodId");
            var text = $(this).attr("text");
            var old = $(this).text();
            var obj = this;
            $.post("topDelete", {"goodId": goodId, "type": type}, function (data) {
                if (data == "ok") {
                    $(obj).text(text).attr("class", "btn btn-primary topSave").attr("text", old);
                } else {
                    alert("操作失败!");
                }
            }, "text");
        });
    });
</script>
</body>
</html>