<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品编辑</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{admin/header.html::myhead}">
    </div>
    <br><br>
    <form class="form-horizontal" action="goodUpdate" method="post" enctype="multipart/form-data"
          onsubmit="return check()">
        <input type="hidden" name="id" th:value="${goodsById.id}"/>
        <!--        <input type="hidden" name="cover" th:value=""/>-->
        <div class="form-group">
            <label for="input_file" class="col-sm-1 control-label">封面</label>
            <div class="col-sm-6"><img th:src="${goodsById.cover}" width="100"/>
                <input type="file" name="file" id="input_file" style="display:inline;"> ( 推荐尺寸: 500 * 500 )
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="name" th:value="${goodsById.name}" required="required">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">介绍</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="intro" th:value="${goodsById.intro}">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">规格</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="spec" th:value="${goodsById.spec}">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">价格</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="price" th:value="${goodsById.price}"
                       onkeyup="this.value=this.value.replace(/[^\d]+/g,'')">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">库存</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="stock" th:value="${goodsById.stock}"
                       onkeyup="this.value=this.value.replace(/[^\d]+/g,'')">
            </div>
        </div>
        <div class="form-group">
            <label for="select_topic" class="col-sm-1 control-label">类目</label>
            <div class="col-sm-6">
                <select class="form-control" id="select_topic" name="typeId">
                    <option th:each="type : ${typeList}"
                            th:selected="${type.id eq goodsById.typeId}"
                            th:value="${type.id}"
                            th:text="${type.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="select_topic" class="col-sm-1 control-label">详情</label>
            <div class="col-sm-6">
                <textarea id="editor" th:text="${goodsById.content}" name="content"
                          style="width:800px;height:600px;"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-success">提交修改</button>
            </div>
        </div>
    </form>
</div>

<script charset="utf-8" src="../editor/kindeditor-all.js"></script>
<script charset="utf-8" src="../editor/lang/zh-CN.js"></script>
<script charset="utf-8" src="../editor/editor.js"></script>
</body>
</html>