<!DOCTYPE html>
<html>
<head>
<title>商品编辑</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
<div class="container">

	<br><br>
	<form class="form-horizontal" action="goodUpdate" method="post" enctype="multipart/form-data" onsubmit="return check()">
		<input type="hidden" name="id" value="6"/>
		<input type="hidden" name="cover" value="../upload/1-6.jpg"/>
		<div class="form-group">
			<label for="input_file" class="col-sm-1 control-label">封面</label> 
			<div class="col-sm-6"><img src="../upload/1-6.jpg" width="100"/>
				<input type="file" name="file" id="input_file" style="display:inline;"> ( 推荐尺寸: 500 * 500 )
			</div>
		</div>
		<div class="form-group">
			<label for="input_name" class="col-sm-1 control-label">名称</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="name" value="栖霞苹果 爽脆清甜" required="required">
			</div>
		</div>
		<div class="form-group">
			<label for="input_name" class="col-sm-1 control-label">介绍</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="intro" value="肉质紧密 味道甘甜">
			</div>
		</div>
		<div class="form-group">
			<label for="input_name" class="col-sm-1 control-label">规格</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="spec" value="约550g/2个">
			</div>
		</div>
		<div class="form-group">
			<label for="input_name" class="col-sm-1 control-label">价格</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="price" value="9" onkeyup="this.value=this.value.replace(/[^\d]+/g,'')">
			</div>
		</div>
		<div class="form-group">
			<label for="input_name" class="col-sm-1 control-label">库存</label>
			<div class="col-sm-6">
				<input type="text" class="form-control" name="stock" value="-1" onkeyup="this.value=this.value.replace(/[^\d]+/g,'')">
			</div>
		</div>
		<div class="form-group">
			<label for="select_topic" class="col-sm-1 control-label">类目</label>
			<div class="col-sm-6">
				<select class="form-control" id="select_topic" name="typeId">
					
						
						<option value="1">蔬菜水果</option>
					
						
						<option value="2">肉禽蛋奶</option>
					
						
						<option value="3">米面粮油</option>
					
						
						<option value="4">休闲零食</option>
					
						
						<option value="5">玩具</option>
					
						
						<option value="6">户外用品</option>
					
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="select_topic" class="col-sm-1 control-label">详情</label>
			<div class="col-sm-6">
				<textarea id="editor" name="content" style="width:800px;height:600px;"></textarea>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
				<button type="submit" class="btn btn-success">提交修改</button>
			</div>
		</div>
	</form>
</div>

<script charset="utf-8" src="../editor/kindeditor-all.js"></script>
<script charset="utf-8" src="../editor/lang/zh-CN.js"></script>
<script charset="utf-8" src="../editor/editor.js"></script>
</body>
</html>