<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>订单列表</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{admin/header.html::myhead}"></div>
    <br>
    <ul role="tablist" class="nav nav-tabs">
        <li class="active" role="presentation"><a href="orderList">全部订单</a></li>
        <li role="presentation"><a href="orderList?status=1">未付款</a></li>
        <li role="presentation"><a href="orderList?status=2">已付款</a></li>
        <li role="presentation"><a href="orderList?status=3">配送中</a></li>
        <li role="presentation"><a href="orderList?status=4">已完成</a></li>
    </ul>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th width="5%">ID</th>
            <th width="5%">总价</th>
            <th width="15%">商品详情</th>
            <th width="20%">收货信息</th>
            <th width="10%">订单状态</th>
            <th width="10%">支付方式</th>
            <th width="10%">下单用户</th>
            <th width="10%">下单时间</th>
            <th width="10%">操作</th>
        </tr>
        <tr th:each="orders:${Orders}">
            <td><p th:text="${orders.id}">6</p></td>
            <td><p th:text="${orders.total}">93</p></td>
            <td>
                <div th:each="ordersList : ${orders.itemsList}">
                    <a target="_blank"
                       href="../index/detail?id=32"><p th:text="${ordersList.goods_name}">即品坚果 台湾甄选 颗颗饱满</p>
                    </a>
                    <p th:text="${ordersList.price+'x'+ordersList.amount}">¥12 x 2</p>
                </div>
            </td>
            <td>
                <p th:text="${orders.name}">密码123456</p>
                <p th:text="${orders.phone}">123456789abc</p>
                <p th:text="${orders.address}">湖南浦东新区</p>
            </td>
            <td>
                <p>
                    <span th:if="${orders.status==1}">未付款</span>
                    <span th:if="${orders.status==2}" style="color:red;">已付款</span>
                    <span th:if="${orders.status==3}">配送中</span>
                    <span th:if="${orders.status==4}">已完成</span>
                </p>
            </td>
            <td>
                <p>
                    <span th:if="${orders.paytype==1}">微信</span>
                    <span th:if="${orders.paytype==2}">支付宝</span>
                </p>
            </td>
            <td><p th:text="${orders.username}">user</p></td>
            <td><p th:text="${orders.systime}">2021-06-11 10:56:20</p></td>
            <td>
                <div th:if="${orders.status==2}">
                    <a class="btn btn-success" th:href="'orderUpdate?id='+${orders.id}+'&status=3'">发货</a>
                </div>
                <div th:if="${orders.status==3}">
                    <a class="btn btn-warning" th:href="'orderUpdate?id='+${orders.id}+'&status=4'">完成</a>
                </div>
                <a class="btn btn-danger" th:href="'orderDelete?id='+${orders.id}">删除</a>
            </td>
        </tr>
    </table>
    <br>
    <div style='text-align:center;'>
        <a class='btn btn-info' href='orderList?page=1'>首页</a>
        <a th:if="${page==1}" class='btn btn-info' disabled>上一页</a>
        <a th:if="${page!=1}" class='btn btn-info' th:href="'orderList?page='+${upper}">上一页</a>
        <h2 style='display:inline;' th:text="'['+${page}+'/'+${YeMaShu}+']'"></h2>
        <h2 style='display:inline;' th:text="'['+${Total}+']'">[40]</h2>
        <h2 style='display:none;' id="YeMaShu" th:text="${YeMaShu}"></h2>
        <a th:if="${page!=YeMaShu}" class='btn btn-info' th:href="'orderList?page='+${next}">下一页</a>
        <a th:if="${page==YeMaShu}" class='btn btn-info' disabled>下一页</a>
        <a class='btn btn-info' th:href="'orderList?page='+${YeMaShu}">尾页</a>
        <input type='text' class='form-control' style='display:inline;width:60px;' value=''/>
        <a class='btn btn-info' id="a">GO</a>
    </div>
    <br>
</div>
<script>
    const a = document.querySelector("#a")
    a.addEventListener('click', () => {
        let input = document.querySelector(".form-control").value
        let YeMaShu = document.querySelector("#YeMaShu").innerHTML
        YeMaShu = parseInt(YeMaShu)
        if (input < 0) {
            input = 1;
        }
        if (input > YeMaShu) {
            input = YeMaShu;
        }
        location.href = "orderList?page=" + input
    })
</script>
</body>
</html>