<!DOCTYPE html>
<html>
<head>
    <title>类目编辑</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{admin/header.html::header}"></div>
    <br><br>

    <form class="form-horizontal" action="typeUpdate" method="post">
        <input type="hidden" name="id" th:value="${typesId.id}">
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">名称</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input_name" name="name" th:value="${typesId.name}"
                       required="required">
            </div>
        </div>
        <div class="form-group">
            <label for="input_name" class="col-sm-1 control-label">序号</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="input_name" name="num" th:value="${typesId.num}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-success">提交修改</button>
            </div>
        </div>
    </form>

    <span style="color:red;">消息</span>

</div>
</body>
</html>