<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:fragment="typelist">
<head>
<title>类目列表</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/bootstrap.css" />
</head>
<body>
	<div class="container">


		<div class="text-right">
			<a class="btn btn-warning" href="redirect/type_add">添加类目</a>
		</div>

		<br>

		<table class="table table-bordered table-hover">
			<tr>
				<th width="5%">ID</th>
				<th width="10%">名称</th>
				<th width="5%">序号</th>
				<th width="10%">操作</th>
			</tr>
			<tr>
				<td><p>3</p></td>
				<td><p>米面粮油</p></td>
				<td><p>3</p></td>
				<td>
					<a class="btn btn-primary" href="typeEdit?id=3">修改</a>
					<a class="btn btn-danger" href="typeDelete?id=3">删除</a>
				</td>
			</tr>
		
			<tr>
				<td><p>4</p></td>
				<td><p>休闲零食</p></td>
				<td><p>4</p></td>
				<td>
					<a class="btn btn-primary" href="typeEdit?id=4">修改</a>
					<a class="btn btn-danger" href="typeDelete?id=4">删除</a>
				</td>
			</tr>
		
			<tr>
				<td><p>5</p></td>
				<td><p>玩具</p></td>
				<td><p>5</p></td>
				<td>
					<a class="btn btn-primary" href="typeEdit?id=5">修改</a>
					<a class="btn btn-danger" href="typeDelete?id=5">删除</a>
				</td>
			</tr>
		
			<tr>
				<td><p>6</p></td>
				<td><p>户外用品</p></td>
				<td><p>6</p></td>
				<td>
					<a class="btn btn-primary" href="typeEdit?id=6">修改</a>
					<a class="btn btn-danger" href="typeDelete?id=6">删除</a>
				</td>
			</tr>
		</table>

	</div>
</body>
</html>