<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="typelist">
<head>
    <title>类目列表</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div class="text-right">
        <a class="btn btn-warning" href="/admin/type_add">添加类目</a>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th width="5%">ID</th>
            <th width="10%">名称</th>
            <th width="5%">序号</th>
            <th width="10%">操作</th>
        </tr>
        <tr th:each="ty : ${types}">
            <td><p th:text="${ty.id}"></p></td>
            <td><p th:text="${ty.name}"></p></td>
            <td><p th:text="${ty.num}"></p></td>
            <td>
                <a class="btn btn-primary" th:href="'typeEdit?id='+${ty.id}">修改</a>
                <a class="btn btn-danger" th:href="'typeDelete?id='+${ty.id}">删除</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>