<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户列表</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div th:replace="~{admin/header.html::myhead}"></div>
    <div class="text-right"><a class="btn btn-warning" th:href="'/admin/user_add'">添加客户</a></div>
    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <th width="5%">ID</th>
            <th width="5%">用户</th>
            <th width="10%">姓名</th>
            <th width="10%">电话</th>
            <th width="10%">地址</th>
            <th width="15%">操作</th>
        </tr>

        <tr th:each="user:${userList}">
            <td><p th:text="${user.id}">1</p></td>
            <td><p th:text="${user.username}">user</p></td>
            <td><p th:text="${user.name}">华丽</p></td>
            <td><p th:text="${user.phone}">123456789</p></td>
            <td><p th:text="${user.address}">湖南浦东新区</p></td>
            <td>
                <a class="btn btn-info"
                   href="user_reset?id=1&username=user&password=HAMVRZRssPCADKqGjGWJtQ==">重置密码</a>
                <a class="btn btn-primary" th:href="'userEdit?id='+${user.id}">修改</a>
                <a class="btn btn-danger" th:href="'userDelete?id='+${user.id}">删除</a>
            </td>
        </tr>
    </table>

    <br>
    <div style='text-align:center;'>
        <a class='btn btn-info' href='userList?page=1'>首页</a>
        <a th:if="${page==1}" class='btn btn-info' disabled>上一页</a>
        <a th:if="${page!=1}" class='btn btn-info' th:href="'userList?page='+${upper}">上一页</a>
        <h2 style='display:inline;' th:text="'['+${page}+'/'+${YeMaShu}+']'"></h2>
        <h2 style='display:inline;' th:text="'['+${Total}+']'">[40]</h2>
        <h2 style='display:none;' id="YeMaShu" th:text="${YeMaShu}"></h2>
        <a th:if="${page!=YeMaShu}" class='btn btn-info' th:href="'userList?page='+${next}">下一页</a>
        <a th:if="${page==YeMaShu}" class='btn btn-info' disabled>下一页</a>
        <a class='btn btn-info' th:href="'userList?page='+${YeMaShu}">尾页</a>
        <input type='text' class='form-control' style='display:inline;width:60px;' value=''/>
        <a class='btn btn-info' id="a">GO</a>
    </div>
    <br>
</div>
<script>
    const a = document.querySelector("#a")
    a.addEventListener('click', () => {
        let input = document.querySelector(".form-control").value
        let YeMaShu = document.querySelector("#YeMaShu").innerHTML
        YeMaShu = parseInt(YeMaShu)
        if (input < 0) {
            input = 1;
        }
        if (input > YeMaShu) {
            input = YeMaShu;
        }
        location.href = "userList?page=" + input
    })
</script>
</body>
</html>