<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myfoot">
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/public.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/swiper.css">
</head>
<body>

	<div id="promiseall">
		<div id="promise">
			<dl>
				<dt><img src="/img/f_01.png"/></dt>
				<dd class="tit">权威认证</dd>
			</dl>
			<dl>
				<dt><img src="/img/f_02.png"/></dt>
				<dd class="tit">产地直销</dd>
			</dl>
			<dl>
				<dt><img src="/img/f_03.png"/></dt>
				<dd class="tit">天天低价</dd>
			</dl>
			<dl>
				<dt><img src="/img/f_04.png"/></dt>
				<dd class="tit">限时到达</dd>
			</dl>
			<dl>
				<dt><img src="/img/f_05.png"/></dt>
				<dd class="tit">售后无忧</dd>
			</dl>
		</div>
	</div>

	<div id="footer">
		<p class="loc">
			<span></span>
		</p><br>
	</div>
	

</body>
</html>