<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>热销排行</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/reclassify.css">
</head>
<body>
<div th:if="${session.login==null}">
    <div th:replace="~{/index/header::myhead}"></div>
</div>
<div th:if="${session.login!=null}">
    <div th:replace="~{/index/header-login::myhead-login}"></div>
</div>
<div id="main" class="main">
    <!-- 该页面用来展示商品列表。  1.查询后需要展示多个商品。  2.点击商品类型需要展示多个商品 -->
    <!-- 如果控制器没有传递type和name过来，就不用管这段代码。 -->
    <div class="goodscont clearfix">
        <div class="goods-box animated wobble" th:each="goods:${Rows}">
            <div class="goods">
                <a target="_blank" th:href="'detail?id='+${goods.id}">
                    <div class="img-box">
                        <img th:src="${goods.cover}">
                    </div>
                </a>
                <a target="_blank" th:href="'detail?id='+${goods.id}">
                    <p class="goodsname" th:text="${goods.name}">香满园美味富强小麦粉</p>
                </a>
                <p class="goods-descript"></p>
                <p class="goods-spec" th:text="${goods.spec}">5kg</p>
                <p class="goodsprices" style="display:block;">
                    <span class="yj">￥<span class="yjcont" th:text="${goods.price}">21</span></span>
                </p>
                <p class="addcart" data-id="24" style="display:none;">
                    <i class="iconfont icon-gouwuche3"></i>加入购物车
                </p>
            </div>
        </div>
    </div>

    <div class='holder' th:with="liSize=${YeMaShu}">
        <div style="display: none" id="page" th:text="${page}"></div>
        <a th:href='${hot}+1'>首页</a>
        <a th:if="${page}>1" th:href='${hot}+${upper}'>上页</a>
        <div style="display: inline" th:each="index : ${#numbers.sequence(1, liSize)}">
            <a class="ok" th:href='${hot}+${index}' th:text="${index}"></a>
            <!--            <a class='jp-current'></a>-->
        </div>
        <a th:if="${page}<${YeMaShu}" class="next" th:href='${hot}+${next}'>下页</a>
        <a th:href='${hot}+${YeMaShu}'>尾页</a>
        <a href='index'>返回</a>
    </div>

</div>

</body>
<script>
    const page = document.querySelector("#page").innerHTML
    const ok = document.querySelectorAll(".ok")
    ok[page - 1].classList.add("jp-current")
</script>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // 显示隐藏购物车
    $(".goods-box").on("mouseenter", function () {
        $(this).addClass("active")
        $(this).find(".addcart").show()
        $(this).find(".reserve").show()
        $(this).find(".m_stop").show()
        $(this).find(".goodsprices").hide()
    });
    $(".goods-box").on("mouseleave", function () {
        $(this).removeClass("active")
        $(this).find(".addcart").hide()
        $(this).find(".reserve").hide()
        $(this).find(".m_stop").hide()
        $(this).find(".goodsprices").show()
    });
</script>
</html>
