<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper.css">
</head>
<body>
<div th:if="${session.login==null}">
    <div th:replace="~{/index/header::myhead}"></div>
</div>
<div th:if="${session.login!=null}">
    <div th:replace="~{/index/header-login::myhead-login}"></div>
</div>
<div class="main">
    <!--今日推荐-->
    <div class="m_content m_today_box">
        <div id="m_today">
            <div class="m-hot-tit clearfix">
                <div class="m-hot-tit-left"><span>今日推荐</span></div>
                <a href="today">
                    <div class="m-hot-tit-right"><span>更多推荐 ></span></div>
                </a>
            </div>
            <div class="mdd_today_box clearfix">
                <div class="m_today_center clearfix">
                    <div class="goods-box2 " th:each="goodstops:${goodsTops}">
                        <div class="goods clearfix">
                            <a th:href="|detail?id=|+${goodstops.id}">
                                <div class="img-box">
                                    <img th:src="${goodstops.cover}">
                                </div>
                            </a>
                            <div class="goods-right">
                                <a th:href="|detail?id=|+${goodstops.id}">
                                    <p class="goodsname" th:text="${goodstops.name}">即品坚果 台湾甄选 颗颗饱满</p>
                                </a>
                                <p class="goods-descript" th:text="${goodstops.intro}">留存水果本真 有滋有味</p>
                                <p class="goods-spec" th:text="${goodstops.spec}">56g</p>
                                <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                                   th:text="${goodstops.price}">12</span></span>
                                </p>
                                <p class="addcart" data-id="32"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--热销排行-->
    <!-- 排名前三个热销商品 -->
    <div class="m_content mdd-top">
        <div id="m_hot">
            <div class="m-hot-tit clearfix">
                <div class="m-hot-tit-left"><span>热销排行</span></div>
                <a href="hot">
                    <div class="m-hot-tit-right"><span>更多热销 ></span></div>
                </a>
            </div>
            <div class="m_hot_one clearfix">
                <div class="goods-box1 " th:each="goodsHotQ:${goodsHotQ}">
                    <div class="goods clearfix">
                        <a th:href="|detail?id=|+${goodsHotQ.id}">
                            <div class="img-box">
                                <img th:src="${goodsHotQ.cover}">
                            </div>
                        </a>
                        <div class="goods-right">
                            <a th:href="|detail?id=|+${goodsHotQ.id}">
                                <p class="goodsname" th:text="${goodsHotQ.name}">栖霞苹果 爽脆清甜</p>
                            </a>
                            <p class="goods-descript" th:text="${goodsHotQ.intro}">肉质紧密 味道甘甜</p>
                            <p class="goods-spec" th:text="${goodsHotQ.spec}">约550g/2个</p>
                            <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                               th:text="${goodsHotQ.price}">9</span></span>
                            </p>
                            <p class="addcart" data-id="6"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 排名第四-八的热销商品 -->
            <div class="m_hot_two clearfix">
                <div class="goods-box " th:each="goodsHotG:${goodsHotG}">
                    <div class="goods clearfix">
                        <div class="m-pm"><span>4</span></div>
                        <a th:href="|detail?id=|+${goodsHotG.id}">
                            <div class="img-box">
                                <img th:src="${goodsHotG.cover}">
                            </div>
                        </a>
                        <div class="goods-right">
                            <a th:href="|detail?id=|+${goodsHotG.id}">
                                <p class="goodsname" th:text="${goodsHotG.name}">西州蜜瓜</p>
                            </a>
                            <p class="goods-descript" th:text="${goodsHotG.intro}">果肉厚质 中心橘红</p>
                            <p class="goods-spec" th:text="${goodsHotG.spec}">约1kg-1.5kg 一个</p>
                            <p class="goodsprices"><span class="yj">&yen;<span class="yjcont"
                                                                               th:text="${goodsHotG.price}">30</span></span>
                            </p>
                            <p class="addcart" data-id="4"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--产品分类-->

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>生态果蔬</span></div>
            <a href="type?id=1">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goodList:${arrayList1}">
                        <div class="goods-box" th:each="goods:${goodList}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.id}|">
                                    <div class="img-box">
                                        <img th:src="${goods.cover}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.id}|">
                                    <div></div>
                                    <p class="goodsname" th:text="${goods.name}"></p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}"></p>
                                <p class="goodsprices"><span class="yj">&yen;</span><span class="yjcont yj"
                                                                                          th:text="${goods.price}"></span></del>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>肉禽蛋奶</span></div>
            <a href="type?id=2">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goodList:${arrayList2}">
                        <div class="goods-box" th:each="goods:${goodList}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.id}|">
                                    <div class="img-box">
                                        <img th:src="${goods.cover}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.id}|">
                                    <div></div>
                                    <p class="goodsname" th:text="${goods.name}"></p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}"></p>
                                <p class="goodsprices"><span class="yj">&yen;</span><span class="yjcont yj"
                                                                                          th:text="${goods.price}"></span></del>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>米面粮油</span></div>
            <a href="type?id=3">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goodList:${arrayList3}">
                        <div class="goods-box" th:each="goods:${goodList}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.id}|">
                                    <div class="img-box">
                                        <img th:src="${goods.cover}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.id}|">
                                    <div></div>
                                    <p class="goodsname" th:text="${goods.name}"></p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}"></p>
                                <p class="goodsprices"><span class="yj">&yen;</span><span class="yjcont yj"
                                                                                          th:text="${goods.price}"></span></del>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>休闲零食</span></div>
            <a href="type?id=4">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goodList:${arrayList4}">
                        <div class="goods-box" th:each="goods:${goodList}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.id}|">
                                    <div class="img-box">
                                        <img th:src="${goods.cover}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.id}|">
                                    <div></div>
                                    <p class="goodsname" th:text="${goods.name}"></p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}"></p>
                                <p class="goodsprices"><span class="yj">&yen;</span><span class="yjcont yj"
                                                                                          th:text="${goods.price}"></span></del>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>

    <div class="main Louti vegetable">
        <div class="m-hot-tit clearfix">
            <div class="m-hot-tit-left"><span>玩具</span></div>
            <a href="type?id=5">
                <div class="m-hot-tit-right">查看更多 ></div>
            </a>
        </div>
        <div class="main-box">
            <div class="m-swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" th:each="goodList:${arrayList5}">
                        <div class="goods-box" th:each="goods:${goodList}">
                            <div class="goods">
                                <a th:href="|detail?id=${goods.id}|">
                                    <div class="img-box">
                                        <img th:src="${goods.cover}">
                                    </div>
                                </a>
                                <a th:href="|detail?id=${goods.id}|">
                                    <div></div>
                                    <p class="goodsname" th:text="${goods.name}"></p>
                                </a>
                                <p class="goods-descript" th:text="${goods.intro}"></p>
                                <p class="goods-spec" th:text="${goods.spec}"></p>
                                <p class="goodsprices"><span class="yj">&yen;</span><span class="yjcont yj"
                                                                                          th:text="${goods.price}"></span></del>
                                </p>
                                <p class="addcart" data-id="41"><i class="iconfont icon-gouwuche3"></i>加入购物车</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="/index/footer::myfoot"></footer>
</body>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.fly.min.js" type="text/javascript"></script>
<script src="/js/jquery.flexslider.min.js" type="text/javascript"></script>
<script src="/js/swiper.min.js" type="text/javascript"></script>
<script type="text/javascript">
    // 商品轮播
    new Swiper('.m-swiper-container', {
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });

    // 显示购物车按钮
    $(".goods-box").on("mouseenter", function () {
        $(this).addClass("active")
        $(this).find(".addcart").show()
        $(this).find(".reserve").show()
        $(this).find(".m_stop").show()
        $(this).find(".goodsprices").hide()
    });
    $(".goods-box").on("mouseleave", function () {
        $(this).removeClass("active")
        $(this).find(".addcart").hide()
        $(this).find(".reserve").hide()
        $(this).find(".m_stop").hide()
        $(this).find(".goodsprices").show()
    });
    $(".goods-box1").on("mouseenter", function () {
        $(this).addClass("active")
    });
    $(".goods-box1").on("mouseleave", function () {
        $(this).removeClass("active")
    });
    $(".goods-box2").on("mouseenter", function () {
        $(this).addClass("active")
        $(this).find(".addcart").show()
        $(this).find(".reserve").show()
        $(this).find(".goodsprices").hide()
    });
    $(".goods-box2").on("mouseleave", function () {
        $(this).removeClass("active")
        $(this).find(".addcart").hide()
        $(this).find(".reserve").hide()
        $(this).find(".goodsprices").show()
    });

</script>

</html>