<!DOCTYPE html>
<html>
<head>
	<title>我的订单</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/public.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/reclassify.css">
	<link rel="stylesheet" type="text/css" href="/css/order.css">
</head>
<body>
	
	<div id="main">
	
		<div class="east" style="width: 1200px;margin: 0 auto;">
			<div style="">
				<table border="0" cellspacing="" cellpadding="" class="list">
					<thead>
						<tr>
							<th class="li1"></th>
							<th class="li2"><span>商品</span></th>
							<th class="li3"><span>单价</span></th>
							<th class="li4"><span>数量</span></th>
							<th class="li5"><span></span></th>
							<th class="li6"><span>实付款</span></th>
							<th class="li7"><span>交易状态</span></th>
							<th class="li8"><span>交易操作</span></th>
						</tr>
					</thead>
				</table>
			</div>
				
			<div style="width:100%;height:auto !important;height:468px;background: #f6f6f6;">
				<div id="itemContainer" style="background: #f6f6f6;">
							
					
						<table border="0" cellspacing="" cellpadding="" class="list animated wobble">
							<tbody>
								<tr class="order-info">
							 		<td colspan="8">
										<span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num">1</i>
										<span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num">2020-04-19 00:07:48</i>
									</td>
								</tr>
								<tr class="order" style="margin-bottom: 10px;">
								
									
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=5"><img src="../upload/1-5.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=5"><p class="goods-descript">小台芒果 自然生长 生态种植</p></a>
											</div>
											<div class="li3"><span>￥26</span></div>
											<div class="li4"><span>1</span></div>
											<div class="li5"></div>
										</td>
									
									
									<td class="li6" rowspan="0">
										<div>
											<p class="total-money">￥69</p>
										</div>
									</td>
									<td class="li7" rowspan="0">
										<div>
											
											
												<span>已付款 (微信)</span>
												
											
											
											
										</div>
									</td>
									<td class="li8" rowspan="0">
										<div>
											<p>
												
											</p>
										</div>
									</td>
								</tr> 
								
								
									<tr class="order" style="margin-bottom: 10px;">
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=4"><img src="../upload/1-4.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=4"><p class="goods-descript">西州蜜瓜</p></a>
											</div>
											<div class="li3"><span>￥30</span></div>
											<div class="li4"><span>1</span></div>
											<div class="li5"></div>
										</td>
									</tr>	
								
									<tr class="order" style="margin-bottom: 10px;">
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=1"><img src="../upload/1-1.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=1"><p class="goods-descript">四川耙耙柑 酸甜甘香 柔嫩多汁</p></a>
											</div>
											<div class="li3"><span>￥13</span></div>
											<div class="li4"><span>1</span></div>
											<div class="li5"></div>
										</td>
									</tr>	
								
							</tbody>
						</table>					
					
						<table border="0" cellspacing="" cellpadding="" class="list animated wobble">
							<tbody>
								<tr class="order-info">
							 		<td colspan="8">
										<span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num">2</i>
										<span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num">2020-05-25 15:54:33</i>
									</td>
								</tr>
								<tr class="order" style="margin-bottom: 10px;">
								
									
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=29"><img src="../upload/4-3.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=29"><p class="goods-descript">吉吉黑糖</p></a>
											</div>
											<div class="li3"><span>￥23</span></div>
											<div class="li4"><span>1</span></div>
											<div class="li5"></div>
										</td>
									
									
									<td class="li6" rowspan="0">
										<div>
											<p class="total-money">￥23</p>
										</div>
									</td>
									<td class="li7" rowspan="0">
										<div>
											
											
											
											<span>已完成</span>
										</div>
									</td>
									<td class="li8" rowspan="0">
										<div>
											<p>
												
											</p>
										</div>
									</td>
								</tr> 
								
								
							</tbody>
						</table>					
					
						<table border="0" cellspacing="" cellpadding="" class="list animated wobble">
							<tbody>
								<tr class="order-info">
							 		<td colspan="8">
										<span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num">3</i>
										<span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num">2020-05-25 16:22:39</i>
									</td>
								</tr>
								<tr class="order" style="margin-bottom: 10px;">
								
									
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=32"><img src="../upload/4-6.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=32"><p class="goods-descript">即品坚果 台湾甄选 颗颗饱满</p></a>
											</div>
											<div class="li3"><span>￥12</span></div>
											<div class="li4"><span>2</span></div>
											<div class="li5"></div>
										</td>
									
									
									<td class="li6" rowspan="0">
										<div>
											<p class="total-money">￥24</p>
										</div>
									</td>
									<td class="li7" rowspan="0">
										<div>
											
											
												<span>已付款 (微信)</span>
												
											
											
											
										</div>
									</td>
									<td class="li8" rowspan="0">
										<div>
											<p>
												<a href="orderPay?id=1"><span class="sta1 pay noSelect">确认付款</span></a>
											</p>
										</div>
									</td>
								</tr> 
								
								
							</tbody>
						</table>					
					
						<table border="0" cellspacing="" cellpadding="" class="list animated wobble">
							<tbody>
								<tr class="order-info">
							 		<td colspan="8">
										<span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num">5</i>
										<span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num">2020-05-29 14:13:39</i>
									</td>
								</tr>
								<tr class="order" style="margin-bottom: 10px;">
								
									
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=6"><img src="../upload/1-6.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=6"><p class="goods-descript">栖霞苹果 爽脆清甜</p></a>
											</div>
											<div class="li3"><span>￥9</span></div>
											<div class="li4"><span>4</span></div>
											<div class="li5"></div>
										</td>
									
									
									<td class="li6" rowspan="0">
										<div>
											<p class="total-money">￥36</p>
										</div>
									</td>
									<td class="li7" rowspan="0">
										<div>
											
											
											
											<span>已完成</span>
										</div>
									</td>
									<td class="li8" rowspan="0">
										<div>
											<p>
												
											</p>
										</div>
									</td>
								</tr> 
								
								
							</tbody>
						</table>					
					
						<table border="0" cellspacing="" cellpadding="" class="list animated wobble">
							<tbody>
								<tr class="order-info">
							 		<td colspan="8">
										<span style="margin-left: 20px;">订单编号&nbsp;:&nbsp;</span><i class="order-num">6</i>
										<span style="margin-left: 40px;">下单时间&nbsp;:&nbsp;</span><i class="order-num">2021-06-11 10:56:20</i>
									</td>
								</tr>
								<tr class="order" style="margin-bottom: 10px;">
								
									
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=32"><img src="../upload/4-6.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=32"><p class="goods-descript">即品坚果 台湾甄选 颗颗饱满</p></a>
											</div>
											<div class="li3"><span>￥12</span></div>
											<div class="li4"><span>2</span></div>
											<div class="li5"></div>
										</td>
									
									
									<td class="li6" rowspan="0">
										<div>
											<p class="total-money">￥93</p>
										</div>
									</td>
									<td class="li7" rowspan="0">
										<div>
											
											
												<span>已付款 (微信)</span>
												
											
											
											
										</div>
									</td>
									<td class="li8" rowspan="0">
										<div>
											<p>
												
											</p>
										</div>
									</td>
								</tr> 
								
								
									<tr class="order" style="margin-bottom: 10px;">
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=4"><img src="../upload/1-4.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=4"><p class="goods-descript">西州蜜瓜</p></a>
											</div>
											<div class="li3"><span>￥30</span></div>
											<div class="li4"><span>2</span></div>
											<div class="li5"></div>
										</td>
									</tr>	
								
									<tr class="order" style="margin-bottom: 10px;">
										<td class="li1" style="text-align: left;" colspan="4">
											<a href="detail?id=6"><img src="../upload/1-6.jpg"></a>
											<div class="m-good-descript">
												<a href="detail?id=6"><p class="goods-descript">栖霞苹果 爽脆清甜</p></a>
											</div>
											<div class="li3"><span>￥9</span></div>
											<div class="li4"><span>1</span></div>
											<div class="li5"></div>
										</td>
									</tr>	
								
							</tbody>
						</table>					
					
														
				</div>
			</div>
			
			<div class='holder'>
				<a class='jp-current'>1</a>
				<a title='第2页' href='order?page=2'>2</a>
				<a href='order?page=2'>下页</a>
				<a href='order?page=2'>尾页</a>
			</div>
		</div>
		
	</div>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
</html>