<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mapper.TypesMapper">

    <update id="update">
        update types
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="num != null and num !=''">
                num = #{num}
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>